/*---Responsivity-----*/
/*-----Smart Phone-----*/
@media screen and (max-width: 767px) {
    body {
        max-width: 767px;
        width: 100%;
        margin: 0;
    }

    .main-card {
        max-width: 350px;
        width: 100%;
        max-height: 400px;
        height: 100%;
        left: 0%;
    }
    
    .flex {
        top: 40%;
        left: 57%;
    }

    .description {
        width: 85px;
    }

}

/*-------Tablet-------*/
@media screen and (min-width: 767px) and (max-width: 1026px) {
    body {
        max-width: 1026px;
        min-width: 767px;
        width: 100%;
    }

    .main-card {
        max-width: 550px;
        width: 100%;
        max-height: 400px;
        height: 100%;
        left: 10%;
    }
}

/*--------Desktop-------*/
@media screen and (min-width: 1026px) {
    body {
        min-width: 1026px;
        width: 100%;
    }

    .main-card {
        max-width: 750px;
        width: 100%;
        max-height: 400px;
        height: 100%;
        left: 20%;
    }
}